.l-content {
    width: 1000px;
    margin: 50px auto;
    overflow: hidden;
}
.content {
    float: right;
    width: 780px;
}
.menu {
    float: left;
    margin: 53px 0 50px;
    width: 150px;
}

.aims {
    margin: 20px 0;
    list-style: none;
}
.aims_name {
    position: relative;
    display: block;
    margin-right: 220px;
}
.aims_name .icon-pause, .icon-info-sign, .icon-trash {
    cursor: pointer;
}
.aims_end {
    position: absolute;
    top: 0; right: -220px;
    text-align: right;
    width: 180px;
    color: red;
}

.table-week_list {
    list-style: none;
}
.table-week_list li {
    padding: 5px 0;
}