{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="text/javascript" href="{% static "js/bootstrap.js" %}" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=""/>
    <meta name="description" content="" />
    <title>Конверты</title>
</head>
<body>
    <div class="l-content">
        {% block menu %}{% include '_menu.html' %}{% endblock menu %}
        {% block content %}{% endblock content %}
    </div>
</body>
</html>