{% extends 'base.html' %}
{% load staticfiles %}

{% block menu %}{% include '_menu.html' with page='expenses' %}{% endblock menu %}

{% block content %}
    <h3>Расходы</h3>
    <p>
        К <b>расходам</b> относятся: коммунальные платежи, аренда жилья,
        денежные расходы в виде платы за товары и услуги,
        авторские гонорары, расход от продажи личного имущества, сдачи его в аренду.
    </p>
    <a class="btn btn-primary" href="{% url 'regular_expense_add' %}">Добавить новый расход</a>
    <br><br>

    {% if expenses %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>Название</th>
                <th>Периодичность</th>
                <th>Даты</th>
                <th>Размер расхода</th>
            </tr>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.periodicity }}</td>
                    <td>начиная с {{ expense.start_date }}</td>
                    <td>{{ expense.size }} NZD</td>
                </tr>
            {% endfor %}
        </table>
        <h5>Общая сумма ежемесячного расхода: 3200 NZD</h5>
    {% endif %}
{% endblock content %}