{% extends 'base.html' %}
{% load staticfiles %}

{% block menu %}{% include '_menu.html' with page='funds' %}{% endblock menu %}

{% block content %}
<div class="content">
    <h3>Цели</h3>
    <p>
        К <b>целям</b> относятся любые крупные покупки или фонды, например, "Машина" или "Фонд на подарки".
    </p>
    <a class="btn btn-primary" href="{% url 'fund_add' %}">Добавить новую цель</a>

    <br><br>

    {% if funds %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>Название</th>
                <th>Достигнуть к</th>
                <th>Размер накоплений</th>
                <th>Выполнено</th>
            </tr>
            {% for item in funds %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.end_date }}</td>
                    <td>{{ item.payment_size }} NZD</td>
                    <td>
                        <div style="border: 1px solid #dedede;">
                            <div style="height: 15px; width: 30%; background: green;"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h5>Общая сумма ежемесячного дохода: 3200 NZD</h5>
    {% endif %}

</div>
{% endblock content %}