{% extends 'base.html' %}
{% load staticfiles %}

{% block menu %}{% include '_menu.html' with page='incomes' %}{% endblock menu %}

{% block content %}
<div class="content">
    <h3>Доходы</h3>
    <p>
        К <b>доходам</b> относятся: заработная плата, пенсия, стипендия, пособие, доход от продажи товаров,
        произведённых в собственном хозяйстве, денежные поступления в виде платы за оказанные услуги,
        авторские гонорары, доход от продажи личного имущества, сдачи его в аренду.
    </p>
    <a class="btn btn-primary" href="{% url 'regular_income_add' %}">Добавить новый доход</a>
    <br><br>

    {% if incomes %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>Название</th>
                <th>Периодичность</th>
                <th>Даты</th>
                <th>Размер дохода</th>
            </tr>
            {% for income in incomes %}
                <tr>
                    <td>{{ income.name }}</td>
                    <td>{{ income.periodicity }}</td>
                    <td>начиная с {{ income.start_date }}</td>
                    <td>{{ income.size }} NZD</td>
                </tr>
            {% endfor %}
        </table>
        <h5>Общая сумма ежемесячного дохода: 3200 NZD</h5>
    {% endif %}
</div>
{% endblock content %}