{% extends 'base.html' %}
{% load staticfiles qurl %}

{% block menu %}{% include '_menu.html' with page='status' %}{% endblock menu %}

{% block content %}
    <div class="row pager">
        <div class="col-md-2">
            {% if prev %}
                <a href="{% qurl full_url d=prev|date:'Y-m-d' %}">&larr; Назад</a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3 class="period">Период {{ period_start|date:'d.m' }} - {{ period_end|date:'d.m' }}</h3>
        </div>
        <div class="col-md-2">
            <a href="{% qurl full_url d=next|date:'Y-m-d' %}">Вперед &rarr;</a>
        </div>
    </div>
    <div class="row spend-today">
        <form action="" method="post">
            <div class="col-md-7">
                <input autofocus class="form-control" type="text" placeholder="На что">
            </div>
            <div class="col-md-3">
                <input class="form-control" type="text" placeholder="Сколько">
            </div>
            <div class="col-md-2">
                <input type="button" class="form-control btn btn-warning" value="Потратить">
            </div>
        </form>
    </div>
    <div class="row state-table">
        <div class="col-md-5">
            <table class="table">
                <tr><th>Траты</th><th>План</th><th>Факт</th></tr>
                <tr><td>Еда</td><td>300</td><td>328</td></tr>

            </table>
        </div>
        <div class="col-md-7">
            <table class="table table-hover">
                <tr><th>Дата</th><th>Потрачено</th></tr>
                {% for day in days %}
                    <tr {% if day.status %}class="{{ day.status }}"{% endif %}>
                        <td>{{ day.date|date:"D, d M" }}</td>
                        <td>
                            {% for expense in day.expenses %}
                                <b>{{ expense.name }}</b> &nbsp;<input class="input-mini money" type="text" value="{{ expense.size }}">
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}